name: CI Build

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  
  # Allows you to run this workflow from another workflow
  workflow_call:

jobs:
  build:
    name: Setup & Build
    runs-on: ubuntu-latest
    steps:
    
      - uses: krdlab/setup-haxe@v1
        with:
          haxe-version: 4.2.4
          
      - uses: actions/checkout@v2
          
      - name: Install Haxelib Dependencies
        run: |
          haxelib git dox https://github.com/HaxeFoundation/dox.git
          haxelib git heaps https://github.com/HeapsIO/heaps.git
          haxelib dev echo .
          
      - name: Run Builds
        run: |
          haxe test.hxml
          haxe sample.hxml
          haxe dox.hxml
  upload:
    name: Upload Artifacts
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Prepare Artifacts
        run: |
          zip -r echo-haxelib.zip echo LICENSE README.md haxelib.json
          zip -r echo-web.zip bin
          
      - name: Upload Echo Haxelib Artifact
        uses: actions/upload-artifact@v2.2.4
        with:
          name: echo-haxelib
          path: echo-haxelib.zip
          
      - name: Upload Echo Website Artifact
        uses: actions/upload-artifact@v2.2.4
        with:
          name: echo-web
          path: echo-web.zip
