# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: krdlab/setup-haxe@v1
        with:
          haxe-version: 4.2.4
      - run: |
          haxe -version
          haxelib git dox https://github.com/HaxeFoundation/dox.git
          haxelib git heaps https://github.com/HeapsIO/heaps.git
          haxelib dev echo .
          haxe ./test.hxml
          haxe ./sample.hxml
          haxe ./dox.hxml
